@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary: #283046;
    --secondary: #161D31;
    --color-text: #CACDD1;
    --green: #14c03d;
    --blue: #00cfe8;
    --red: #ea5455;
}

.number-font {
  font-family: 'Space Grotesk', sans-serif;
}


.bg-primary {
    background: var(--primary);
}
.bg-second {
    background: var(--secondary);
}
.text-main {
    color: var(--color-text);
    font-family: 'Inter', sans-serif;
}

.bg-btn-filter {
  background: #00cfe8;
}

.ct-horizontal, .ct-vertical {
  stroke-dasharray: none;
  stroke-width: 1px; 
  stroke: var(--color-text);
}
.ct-bar{
  stroke-width: 2.5rem;
}
/* lucro */
.ct-series-a {
  stroke: var(--green);
}

/* valor faturado */
.ct-series-b{
  stroke: var(--blue);
}

/* gasto */
.ct-series-c{
  stroke: var(--red);
}

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start;
}
.ct-label.ct-vertical.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  text-anchor: end;
}