@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary: #283046;
    --secondary: #161D31;
    --color-text: #CACDD1;
}


.bg-primary {
    background: var(--primary);
}
.bg-second {
    background: var(--secondary);
}
.text-main {
    color: var(--color-text);
    font-family: 'Inter', sans-serif;
}
